.row
  .card
    %h2 Error handling and 404 page
    %hr
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia magna in scelerisque volutpat. Mauris bibendum nisi eros. Nulla facilisi. In libero turpis, sodales sed lectus id, blandit consequat est. Aliquam finibus tortor lacus, aliquam pharetra velit semper at. Aenean consequat consectetur enim fringilla congue. In id venenatis justo. Phasellus sollicitudin facilisis est vel lobortis. Nulla vel urna eget justo commodo tincidunt in commodo orci. Donec ac enim consectetur, ornare leo at, auctor lacus. Nullam pellentesque velit ipsum, ac lobortis turpis tincidunt ac. Aenean elit...
    %button.btn__primary Read more
  .card
    %h2 Good looking url's
    %hr
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia magna in scelerisque volutpat. Mauris bibendum nisi eros. Nulla facilisi. In libero turpis, sodales sed lectus id, blandit consequat est. Aliquam finibus tortor lacus, aliquam pharetra velit semper at. Aenean consequat consectetur enim fringilla congue. In id venenatis justo. Phasellus sollicitudin facilisis est vel lobortis. Nulla vel urna eget justo commodo tincidunt in commodo orci. Donec ac enim consectetur, ornare leo at, auctor lacus. Nullam pellentesque velit ipsum, ac lobortis turpis tincidunt ac. Aenean elit...
    %button.btn__primary Read more
.row
  .card
    %h2 Payments
    %hr
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia magna in scelerisque volutpat. Mauris bibendum nisi eros. Nulla facilisi. In libero turpis, sodales sed lectus id, blandit consequat est. Aliquam finibus tortor lacus, aliquam pharetra velit semper at. Aenean consequat consectetur enim fringilla congue. In id venenatis justo. Phasellus sollicitudin facilisis est vel lobortis. Nulla vel urna eget justo commodo tincidunt in commodo orci. Donec ac enim consectetur, ornare leo at, auctor lacus. Nullam pellentesque velit ipsum, ac lobortis turpis tincidunt ac. Aenean elit...
    %button.btn__primary Read more
  .card
    %h2 Suggestions
    %hr
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia magna in scelerisque volutpat. Mauris bibendum nisi eros. Nulla facilisi. In libero turpis, sodales sed lectus id, blandit consequat est. Aliquam finibus tortor lacus, aliquam pharetra velit semper at. Aenean consequat consectetur enim fringilla congue. In id venenatis justo. Phasellus sollicitudin facilisis est vel lobortis. Nulla vel urna eget justo commodo tincidunt in commodo orci. Donec ac enim consectetur, ornare leo at, auctor lacus. Nullam pellentesque velit ipsum, ac lobortis turpis tincidunt ac. Aenean elit...
    %button.btn__primary Read more
.row
  .signup__box
    %h2
      Get the latest posts in your mailbox!
    = form_for @client do |f|
      = f.email_field :email, placeholder: "email@example.com"
      = f.submit "Submit"
    %small By submitting this form you agree that I save your email.
