.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  transition: 0.6s;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $black;
  overflow-x: hidden;
  box-shadow: 0px 5px 15px $black;
  color: $white;
  .closebtn {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav__heading {
    text-align: center;
    h2 {
      padding: 20px 0px;
    }
    img {
      border-radius: 50%;
    }
  }
  .sidenav__body {
    text-align: center;
    padding: 25px 10px;
    p {
      font-style: italic;
    }
  }
  .sidenav__footer {
    padding: 25px 10px;
    text-align: center;
    button {
      margin-bottom: 25px;
    }
    small {
      position: absolute;
      bottom: 3px;
      left: 50px;
      margin: auto;
    }
  }
}

.hamburger {
  position: fixed;
  display: none;
  .icon--first {
    width: 35px;
    height: 4px;
    background-color: $blue;
    margin: 0px 0px 6px 0px;
  }
  .icon--second, .icon--third {
    width: 35px;
    height: 4px;
    background-color: $blue;
    margin: 6px 0px;
  }
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .sidenav {
    width: 0px;
    transition: 0.6s;
    .closebtn {
      display: block;
    }
  }
  .hamburger {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .sidenav {
    width: 250px;
  }
}
