* {
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', sans-serif;
}

.main {
  margin-left: 250px;
  padding: 10px 20px;
}

.alert {
  text-align: center;
  font-size: 18px;
}

.alert-notice {
  color: $blue;
}

.alert-success {
  color: $green;
}
